*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-family: "Libre Baskerville", serif;
  font-weight: 400;
  font-size: $text-standard;
  color: $color-main;
  line-height: 1.6;
  background-color: beige;
  background-color: $color-white;
}

.container {
  max-width: $max-width;
  // max-height: 100vh;
  overflow-x: hidden;
  background-color: $color-tint;
  margin: 0 auto;
}
