.section {
  transition: all 0.75s;

  &--hidden {
    opacity: 0;
    transform: translateY($space-big);
  }
}

#overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba($color-black, 0.45);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;
  backdrop-filter: blur(10px);
  display: none;
}

.spinner {
  border: 4px solid $color-white; /* Light background */
  border-top: 4px solid $color-main; /* Blue color */
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.workspace {
  position: relative;
}
.music {
  position: fixed;
  bottom: $space-small;
  right: $space-small;
  z-index: 5;

  &__btn {
    padding: $space-small;
    border-radius: 50%;
    border: none;
    background-color: rgba($color-shade, 0.45);
    box-shadow: 0 1rem 2rem rgba($color-black, 0.15);

    &:hover,
    &:active {
      background-color: rgba($color-shade, 0.95);
    }

    &--icon {
      font-size: calc(#{$text-big + $text-emphasize}/ 2);
      font-size: $text-emphasize;
      color: $color-main;
      color: $color-white;
    }
  }
}

// .music__btn:hover .music__btn--icon {
//   color: $color-white;
// }
// .music__btn:active .music__btn--icon {
//   color: $color-white;
// }
